<template>
    <div class="absolute flex flex-col items-center justify-center pin-t pin-l h-screen w-full" v-if="active">
        <div class="absolute pin-t pin-l h-screen w-full bg-brand-darkest opacity-75 z-0"></div>
        <div class="w-full md:w-1/3 text-right z-20 mb-2">
            <button class="text-grey-light hover:text-white text-lg" aria-label="fechar" @click="close">
                <i class="far fa-times-circle"></i>
            </button>
        </div>
        <div class="relative bg-white p-8 border-t-8 border-brand rounded z-10 w-full md:w-1/3">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            active: {
                required: true,
                type: Boolean,
            }
        },

        computed: {
            classes () {
                return (this.active) ? 'block' : 'hidden';
            }
        },

        methods: {
            close () {
                this.$emit('close');
            }
        }
    }
</script>