<template>
    <section>
        <div class="flex flex-row items-center justify-between">
            <!-- MODE: Add settings -->
            <template v-if="mode === 'add'">
                <div>
                    <p class="text-xl">
                        O seu domínio ainda não está configurado. <br>
                        <small class="has-text-grey text-base">
                            <a href="#">Clique aqui</a> para descobrir como configurá-lo.
                        </small>
                    </p>
                </div>
                <div class="has-text-right">
                    <button @click="openModal()" class="button is-primary">Configurar</button>
                    <br>
                </div>
            </template>
            <!-- MODE: Update settings -->
            <template v-if="mode === 'update'">
                <div class="flex-grow text-left">
                    <h2 class="text-2xl text-grey-darkest">
                        Domínio
                    </h2>
                    <p class="text-xl text-grey-darkest">
                        <a :href="'//' + domain" target="_blank" class="has-text-link">{{ domain }}</a>
                    </p>
                </div>
                <div class="flex-shrink text-right">
                    <button @click="openModal()" class="button is-danger">Alterar</button>
                </div>
            </template>
        </div>

        <modal :active="modalStatus" @close="closeModal()">
            <p class="text-xl text-grey-darkest mb-8">
                Digite o domínio que você deseja utilizar para acessar a sua plataforma. <br><br>
                O domínio já deve ter sido adquirido. Para descobrir como configurá-lo, <a href="#">clique aqui</a>.
            </p>
            <form method="POST" class="columns" :action="action">
                <input type="hidden" value="PATCH" name="_method">
                <input type="hidden" :value="csrf" name="_token">
                <div class="field w-full pb-2">
                    <label class="field__label">Seu domínio</label>
                    <input type="text" class="field__input" placeholder="Domínio" name="domain" v-model="form.domain" required>
                </div>
                <div class="w-full text-center">
                    <button class="button button--lg" type="submit">Salvar</button>
                </div>
            </form>
        </modal>
    </section>
</template>

<script>
    export default {
        props: {
            domain: { type: String },
            mode: { type: String },
            action: { type: String },
            csrf: { type: String },
        },

        data () {
            return {
                modalStatus: false,
                form: {
                    domain: null,
                }
            }
        },

        created () {
            this.form.domain = this.domain;
        },

        methods: {
            openModal () {
                this.modalStatus = true;
            },

            closeModal () {
                this.modalStatus = false;
            }
        }
    }
</script>