@charset "utf-8";

@import "../../common/sass/app.scss";

.pg-login {
  background: url(../img/bg-01.jpg) no-repeat center center;
  background-size: cover;
}

.nav {
  @apply .flex .justify-center .bg-brand .shadow;

  &--item {
    @apply .font-bold .text-base .text-grey-lighter .no-underline .px-3 .py-3;

    &:hover {
      @apply .text-white .no-underline .border-b-2 .border-white;
    }

    &__logo {
      @apply .text-2xl .text-white;

      &:hover {
        @apply .border-b-0;
      }
    }
  }
}

.card {
  @apply .bg-white .border .border-grey-light .rounded .p-4 .shadow;

  &__title {
    @apply .text-sm .text-grey-dark .uppercase .font-bold .pb-3 .mb-4 .w-full .border-b .border-grey-light;
  }
}

.menu {
  &--label {
    @apply .font-bold .uppercase .text-grey .text-sm .mt-6 .mb-4;

    &:first-child {
      @apply .mt-0;
    }
  }

  &--list {
    @apply list-reset;

    &--item {
      @apply .text-base .text-grey-darker .leading-normal;
    }
  }
}

.breadcrumb {
  @apply .list-reset .mb-2;

  li {
    @apply .text-sm .text-grey .inline-block .w-auto;

    &::after {
      @apply .inline-block .text-sm .text-grey .ml-4 .mr-3;
      content: "●";
    }

    &:last-child::after {
      margin-right: 0;
      content: '';
    }

    a {
      @apply .text-grey-dark;
    }

    &.is-active {
      a {
        @apply .text-brand;
      }
    }
  }
}

.title {
  @apply .text-4xl .text-grey-darker;
}

.table {
  border-collapse: collapse;

  thead, tfoot {
    @apply .bg-grey-light;
  }

  th {
    @apply .px-3 .py-2 .text-grey-darkest .font-bold .text-left;
  }

  tr {
    &:nth-child(even) {
      @apply .bg-grey-lightest;
    }

    &:nth-child(odd) {
      @apply .bg-white;
    }

    &:hover {
      @apply .bg-grey-lighter;
    }
  }

  td {
    @apply .px-3 .py-2 .text-grey-darkest .font-normal;
  }
}