<template>
    <div>
        <slot name="content" :form-data="formData" :remove-phase="removePhase"></slot>
    </div>
</template>

<script>
    import { map } from 'lodash';

    export default {
        name: "auction-form",

        props: {
            phases: {
                required: false,
                type: Array,
                default: [],
            }
        },

        data () {
            return {
                formData: {
                    removeLogo: 0,
                    removeBanner: 0,
                    phases: map(this.phases, (phase) => {
                        return {
                            id: phase.id || null,
                            date: phase.date,
                            types: map(phase.types, type => {
                                return {
                                    value: type.slug,
                                    label: type.label,
                                };
                            }),
                        };
                    }),
                }
            }
        },

        methods: {
            removePhase (index) {
                this.$delete(this.formData.phases, index);
            }
        }
    }
</script>

<style scoped>

</style>