<template>
    <div class="my-2">
        <div class="relative w-auto" @mouseover="setShow(true)" @mouseleave="setShow(false)">
            <button class="bg-brand px-4 py-2 rounded text-white shadow font-bold">
                <span>{{ title  }}</span>
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="absolute bg-white rounded shadow-md mt-0 pin-r z-50" style="min-width: 150px" v-if="show">
                <ul class="list-reset overflow-hidden w-auto">
                    <slot></slot>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Dropdown",

        props: {
            title: {
                type: String,
                required: false,
                default: 'Ações',
            }
        },

        data () {
            return {
                show: false,
            }
        },

        methods: {
            setShow (status) {
                this.show = status;
            }
        }
    }
</script>