<template>
    <div class="inline-block relative w-full">
        <input type="hidden" :name="name + '[address]'" :value="input.address">
        <input type="hidden" :name="name + '[longitude]'" :value="input.longitude">
        <input type="hidden" :name="name + '[latitude]'" :value="input.latitude">
        <input ref="autocomplete" :value="input.address" :required="required" type="text" class="field__input" placeholder="Digite o local desejado">
    </div>
</template>

<script>
    export default {
        name: "google-places",
        props: ['name', 'address', 'latitude', 'longitude', 'required'],

        data () {
            return {
                autocomplete: null,
                input: {
                    address: null,
                    latitude: null,
                    longitude: null,
                }
            }
        },

        mounted () {
            this.setInput(this.address, this.latitude, this.longitude);

            this.autocomplete = new google.maps.places.Autocomplete(
                (this.$refs.autocomplete),
                {
                    types: ['geocode'],
                    componentRestrictions: { country: 'BR' },
                }
            );

            this.autocomplete.addListener('place_changed', this.placeChanged)
        },

        methods: {
            placeChanged () {
                const place = this.autocomplete.getPlace();
                const latitude = place.geometry.location.lat();
                const longitude = place.geometry.location.lng();
                const address = place.formatted_address;

                this.inputValue = JSON.stringify({
                    address,
                    latitude,
                    longitude,
                });

                this.setInput(address, latitude, longitude);
            },

            setInput (address, latitude, longitude) {
                this.input.address = address;
                this.input.latitude = latitude;
                this.input.longitude = longitude;
            }
        }
    }
</script>
<style scoped>

</style>