<template>
    <div class="modal" :class="classes">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <slot></slot>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="fechar" @click="close"></button>
    </div>
</template>

<script>
    export default {
        props: {
            active: {
                required: true,
                type: Boolean,
            }
        },

        computed: {
            classes () {
                return (this.active) ? 'is-active' : '';
            }
        },

        methods: {
            close () {
                this.$emit('close');
            }
        }
    }
</script>