<template>
    <transition name="fade">
        <div class="notification mt-4 mb-8" :class="classes" v-if="show">
            <button class="delete" @click="destroy()"></button>
            <slot></slot>
        </div>
    </transition>
</template>

<script>
    export default {
        props: {
            type: {
                required: true,
            },
            popup: {
                required: false,
                default: false,
                type: Boolean,
            }
        },

        data () {
            return {
                show: true,
            }
        },

        computed: {
            classes () {
                return `notification--${this.type} ${this.popup ? 'notification--popup' : ''}`;
            },
        },

        methods: {
            destroy () {
                this.show = false;
            }
        },

        mounted () {
            if (this.popup) {
                setTimeout(() => this.destroy(), 5000);
            }
        }
    }
</script>