.button {
  @apply .font-bold .text-base .text-white .no-underline .leading-tight .px-4 .py-2 .bg-brand .shadow .border-2 .border-brand .rounded;

  &:hover {
    @apply .bg-brand-dark .shadow-md .no-underline .border-brand-dark;
  }

  &--lg {
    @apply .text-lg .px-6 .py-4;
  }

  &--secondary {
    @apply .bg-white .text-black .border-0;

    &:hover {
      @apply .bg-grey-lighter;
    }
  }
}