@import "~vue-multiselect/dist/vue-multiselect.min.css";

.field {
  @apply .pb-2;

  &__label {
    @apply .block .uppercase .tracking-wide .text-grey-darker .text-xs .font-bold .mb-2;
  }

  &__input {
    @apply .appearance-none .block .w-full .bg-white .text-grey-darker .border .border-b-2 .rounded .py-3 .px-4 .mb-3;

    &.input--error {
      @apply .border-red;
    }

    &.vdp-datepicker {
      padding: 0;

      input {
        @apply .w-full .py-3 .px-4;
      }

      .vdp-datepicker__calendar {
        z-index: 11000;
      }
    }

    &.multiselect {
      padding: 0 0 0 .16rem;

      .multiselect__tags {
        @apply .border-0;
        padding-top: 0.7rem;
      }
    }
  }

  &__error {
    @apply .text-red .text-xs .italic;
  }
}