.notification {
  @apply .w-full .p-4 .bg-grey-darker .text-base .font-normal .text-grey-lightest .shadow .border-t-4 .border-grey-darkest .rounded;

  &--warning {
    @apply .bg-warning-lighter .border-warning;
  }

  &--info {
    @apply .bg-info-lighter .border-info;
  }

  &--success {
    @apply .bg-success-lighter .border-success;
  }

  &--popup {
    @apply .w-auto .mx-auto .mt-4 .fixed .pin-t;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}