@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600');

@tailwind preflight;
@tailwind components;

// Components classes here ...

@tailwind utilities;

// Custom utilities ...

html, body {
  @apply .w-full;
  @apply .font-sans;
}

.no-outline {
  outline: none;
}

// Custom styles ...

@import "./_inputs";
@import "./_buttons";
@import "./_notifications";
@import "./_tags";

a {
  @apply .text-brand;
  @apply .no-underline;

  &:hover {
    @apply .underline;
  }
}